
<div class="row">
<div class="col-md-4">
    <h5>About our ecosystem</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, veniam.</p>
</div>
<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item active">Active item</li>
        <li class="list-group-item">Item</li>
        <li class="list-group-item disabled">Disabled item</li>
    </ul>
</div>
<div class="col-md-4">
    <h4>Our Team</h4>
    <img src="http://lorempixel.com/400/200/technics/1" alt="Picsum for our picture">
</div>
</div>