
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
       <tr>
           <td>Lorem text 1</td>
           <td>Lorem text 2</td>
           <td>Lorem text 3</td>
       </tr>
       <tr>
           <td>Lorem text 1</td>
           <td>Lorem text 2</td>
           <td>Lorem text 3</td>
       </tr>
       <tr>
           <td>Lorem text 1</td>
           <td>Lorem text 2</td>
           <td>Lorem text 3</td>
       </tr>
       <tr>
           <td>Lorem text 1</td>
           <td>Lorem text 2</td>
           <td>Lorem text 3</td>
       </tr>
    </tbody>
</table>